* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #2c2c31;
}
::-webkit-scrollbar-thumb {
  background-color: #9e9ea0;
  border-radius: 8px;
}
@keyframes inicio {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
body {
  background-color: #121215;
  color: #f1f1f1;
  font-family: "Roboto", sans-serif;

  display: grid;
  grid-template-areas: "profile timeline";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
}
nav {
  padding: 64px;
  grid-area: timeline;
  overflow-y: scroll;
  animation: inicio 0.7s ease-in-out;
}
.memory {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-decoration: none;
  margin-bottom: 64px;
}
.memory small {
  color: #FFFFFF;
  font-size: 0.75rem;
}
.memory h1 {
  font-size: 2rem;
  color: #f1f1f1;
}
.memory img {
  width: 100%;
  right: 280px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}
.memory:hover img {
  transform: scale(1.1);
}
.zoomControl {
  width: 100%;
  right: 280px;
  overflow: hidden;
  border-radius: 8px;
}
.memory p {
  font-size: 1.2rem;
  color: #bebebf;
  line-height: 28px;
}
.memory p1 {
  text-decoration: none;
  color: #bebebf;
  font-size: 0.9rem;
}
aside {
  grid-area: profile;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-right: solid 1px;
  border-image: linear-gradient(#727275, #2c2c31) 1;

  background-image: url(assets/background.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
aside * {
  animation: inicio 0.7s ease-in-out;
}
aside img:nth-child(1) {
  width: 190px;
  height: 60px;
  border: 1px sol;
}
aside img:nth-child(2) {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid transparent;
  background: linear-gradient(#460000, #CD0404, #b84b4b) padding-box,
    linear-gradient(260deg, #460000, #b84b4b) border-box;
}
aside p {
  font-size: 2rem;
  text-align: center;
}
aside span {
  font-size: 0.75rem;
  color: #9e9ea0;
}
@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  aside {
    border: none;
    padding: 32px 32px;
  }
  nav {
    overflow-y: auto;
    padding: 22px;
  }
}
